.container{
  text-align: center;
  padding: 50px;
  background-color: rgb(58, 242, 255);
  min-height: 100vh;
}

.container.dark{
  background-color: black;
  color: antiquewhite;
}
.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(255, 62, 62);
  color: black;
  border: none;
  border-radius: 6px;
}
.mode{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(203, 0, 173);
  color: black;
  border: none;
  border-radius: 6px;
}
.reset{
  background-color: rgb(92, 207, 4);
}